@import '../../../styles/scss/mixins';
@import '../../../styles/scss/variables';
// 
// Toolbar component style
// 

header {
    padding-left    : 7.5em;
    height          : 5.5875em;
    line-height     : 5.5875em;
    background-color: $highlight-blue;
    box-shadow      : 0 2px 10px rgba(0, 0, 0, 0.3);

    .logo {
        text-decoration: none;
        text-transform : uppercase;
        color          : $white;
        @include font-style($font-open-sans, $font-large, $font-semi-bold);

        &:hover {
            text-decoration: none;
            color          : $white;
        }
    }
}