@import '../../styles/scss/variables';
@import '../../styles/scss/mixins';
// 
// Layout component style
// 

main {
    margin-top      : 5.5em;
    padding-left    : 7.5em;
    padding-top     : 1em;
    background-color: $light-gray;
    
    aside {
        padding-top     : 1em;
        padding-bottom  : 1em;
        background-color: $white;
        border          : 1px solid $border-gray; 
    
        h6 {
            text-transform: capitalize;
            @include font-style($font-open-sans, $font-mark-tiny, $font-semi-bold);
        }
    }

    @media screen and (max-width: 992px) {
        margin-top  : 4.5em;
        padding-left: unset;
    }
}
