@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';
// 
// Alert component style
// 

p.alert-message {
    margin-bottom: 0;
    @include font-style($font-open-sans, $font-tiny, $font-regular);

    i {
        margin-right    : 0.6em;
        padding         : 0.4em;
        border-radius   : 50%;
    }

    &.error {
        color: $alert-red;

        i {
            background-color: $alert-red;
            color           : $alert-yellow;
        }
    }

    &.success {
        color: $alert-green;

        i {
            background-color: $alert-green;
            color           : $white;
        }
    }
}