@import '../../../styles/scss/mixins';
@import '../../../styles/scss/variables';
// 
// QualificationsScore component style
// 

section#course-heading, 
section#course-description, 
section#qualification-score, 
section#subjects,
section#other-subjects {
    position         : relative;
    padding-left     : 1.875em;
    padding-right    : 1.875em;
    background-color : $white;
    border-left      : 1px solid $border-gray;
    border-right     : 1px solid $border-gray;
}

section#course-heading {
    border-top: 1px solid $border-gray;

    &:before {
        position        : absolute;
        display         : block;
        top             : 0;
        left            : 0;
        width           : 100%;
        background-color: blueviolet;
        background-image: linear-gradient(-90deg, $gradient-start-color 0%, $gradient-middle-color 50%, $gradient-end-color 100%);
        height          : 9.375em;
        content         : '';
    }

    div#logo-container {
        display            : inline-block;
        width              : 10em;
        height             : 10em;
        margin-top         : 2em;
        background-image   : url('../../../assets/university-of-pretoria-logo.png');
        background-position: 0 0;
        background-size    : cover;
        background-repeat  : no-repeat; 
        background-color   : $white;
        border             : 5px solid $white;
        box-shadow         : 0 5px 10px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.03);
    }

    button { 
        margin-top      : 4.1875em;
        padding         : 0.15em 0.75em;
        border          : 1px solid $highlight-blue;
        background-color: $white;
        text-transform  : uppercase;
        cursor          : pointer;
        border-radius   : 3px;
        color           : $highlight-blue;
        transition: all 0.2s ease-in;
        @include font-style($font-open-sans, 0.825em, $font-semi-bold);

        &:hover {
            color           : $white;
            background-color: $gradient-start-color;
            border          : 1px solid $white;
        }
    }

    h2 {
        @include font-style-heading();
        
        &#course-title {
            font-weight: $font-bold;
            margin-left: 0;
        }
    }
}

section#course-description, 
section#qualification-score, 
section#subjects,
section#other-subjects {
    border-top    : 1px solid $light-gray;
    padding-top   : 2em;
    padding-bottom: 2em;
}

section#course-description {
    h6 {
        text-transform: capitalize;
        @include font-style($font-open-sans, $font-tiny, $font-bold);
    }

    p {
        @include font-style($font-open-sans, $font-tiny, $font-regular)
    }
}

section#qualification-score {
    padding-top   : unset;
    padding-bottom: unset;

    button {
        position        : relative;
        width           : 100%;
        height          : 100%;
        background-color: $highlight-blue;
        color           : $white;
        cursor          : pointer;
        border          : transparent;

        &:hover, &:active {
            outline: none;
        }

        i {
            position: absolute;
            left    : -10.5px;
            color   : #458cb9;
        }
    }
}

section#subjects,
section#other-subjects {
    h6 {
        text-transform: uppercase;
        @include font-style($font-open-sans, $font-tiny, $font-bold);
    }
}