// 
//  Variables partial file : contains all variables shared in scss files 
// 

// Fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-arimo    : 'Arimo', sans-serif;


// Colors
$black                 : #000000;
$white                 : #ffffff;
$gray                  : #818182;
$light-gray            : #F9F9F9;
$highlight-blue        : #108CBC;
$arlet-danger-red      : #E84849;
$arlet-yellow          : #EDC92C;
$alert-success-green   : #94DD5F;
$info-yellow           : #FAC917;
$mark-green            : #4FFBDF;
$mark-blue             : #00D2FC;
$mark-indigo           : #009EFA;
$icon-yellow           : #FEC842;

// Font sizes
$font-large: 1.5625em;
$font-tiny : 0.9375em;

// Font weights
$font-bold     : 700;
$font-semi-bold: 600;
$font-regular  : 400;
